<div class="gift" *ngIf="!isOpen" (click)="openGift()">
  <img src="/assets/gift.gif" />
</div>

<div class="open" *ngIf="isOpen">
  <img
    *ngIf="!isMobile"
    style="z-index: -1; position: absolute;"
    width="100%"
    height="100%"
    src="/assets/wallpaper.jpg"
  />
  <img *ngIf="isMobile" style="z-index: -1; position: absolute;" width="100%" height="100%" src="/assets/mobile.jpeg" />
  <img style="z-index: -1; position: absolute; margin-top: 5%; margin-left: 60%;" width="15%" height="30%" src="/assets/tickets.png" />
</div>

