.gift {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.open {
  border-style: none;
  animation: fadeIn 20s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  95% { opacity: 10000; }
  96% { opacity: 10000; }
  97% { opacity: 10000; }
  98% { opacity: 10000; }
  99% { opacity: 10000; }
  100% { opacity: 10000; }
}
