<div class="gift" *ngIf="!isOpen" (click)="openGift()">
  <img src="/assets/gift.gif" />
</div>

<div id="open" class="gift" *ngIf="isOpen">
  <img src="/assets/open1.gif" />
</div>

<div class="open" *ngIf="isOpen">
  <img
    *ngIf="!isMobile"
    style="z-index: -1; position: absolute;"
    width="120%"
    height="100%"
    src="/assets/wallpaper.jpg"
  />
  <img *ngIf="isMobile" style="z-index: -1; position: absolute;" width="100%" height="100%" src="/assets/mobile.jpeg" />
  <img *ngIf="!isMobile" style="z-index: -1; position: absolute; margin-top: 5%; margin-left: 65%;" width="18%" height="30%" src="/assets/tickets.png" />
  <img *ngIf="isMobile" style="z-index: -1; position: absolute; margin-top: 65%; margin-left: 25%;" width="55%" height="28%" src="/assets/tickets.png" />
</div>

